body {
    font-family: 'Comfortaa', bold;
}
body h1 {
    font-size: 39px;
}
body p {
    font-size: 14px;
}
.center {
    display: block;
    margin: auto;
}
#nav {
    margin-top: 50px;
}
.smi img {
    height: 30px;
    margin: 10px;
}
.logo img {
    height: 50px;
}
.nav-item {
    color: black;
    margin-right: 20px;
    margin-top: 20px;
}
#title {
    margin: 100px;
}
.grey {
    
    background-color: #D2D4DC;
    border-radius: 50px;
    margin-left: 100px;
    height: 500px;
    width: 500px;
}
.green {
    background: url("img/green.png");
    background-repeat: no-repeat;
}
.yellow {
    background: url("img/yellow.png");
    background-repeat: no-repeat;
}
.orange {
    background: url("img/orange.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.pink {
    background: url("img/pink.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.middle {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
}
.white_space {
    height: 100px;
}
#projects img {
    margin-bottom: 150px;
}
ion-icon {
  font-size: 150px;
  color: black;
  margin-top: 150px;
  margin-left: 150px;
}
